[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
netifaces = "*"
"RPi.GPIO" = "*"
Pillow = "*"
"luma.oled" = "*"
python-daemon = "*"
loguru = "*"
"luma.core" = "*"

[dev-packages]

[requires]
python_version = "3.7"
